/* Global uitilities */
*{
    box-sizing: border-box;
}
body,p,a{
    font-family: 'Poppins', sans-serif;
}
a{
    font-weight: 500;
}
p{
    font-size: 1rem;
}
/* Global utilies end */

/* header and navbar star */
header{
    background-color:#264653; 
    height: auto;
}
.navbar .nav-link{
    color: white;
    padding: 5 15px;
    border-radius: 50px 50px;
    margin: 0 10px;
    transition: .5s;
}
.brand-name{
    color: white ;
    text-decoration: none;
    font-size: 1.5rem;
}
.brand-name:hover{
    color: white ;
    transform: scale(1.1);
    transition: transform .5s;
   
}

.navbar .nav-link:hover{
    color: black;
   
}

#login-btn{
    margin-left: 5em;
    background: #E76F51;
    border-radius: 5px;
}

/* header and navbar end */


/* Landing Banner area start */

.modals-btn .purchase-btn{
    padding: 10px 45px;
    background-color:#E76F51 ;
    color: white;
}
.landing-banner p{
    font-weight: 300;
}




